#read-display {
    main {
        overflow-y: hidden;
    }

    #symbols-container {
        position: absolute;
        top: -200px;
        left: -200px;
        z-index: 999;
    }

    #symbols-container.hide > .coverup-symbol, .marquee.hide {
        visibility: visible;
        -webkit-animation: fadeOut 6s ease-out;
        -moz-animation: fadeOut 6s ease-out;
        -o-animation: fadeOut 6s ease-out;
        animation: fadeOut 6s ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeOut {
        0% {
            display: block;
            opacity: 1;
        }

        1% {
            display: block;
            opacity: 1;
        }

        100% {
            display: none;
            opacity: 0;
            visibility: hidden;
        }

    }

    .coverup-symbol {
        position: absolute !important;

        svg {
            opacity: 0.5;
        }
    }

    @keyframes changeColorPastel {
        0% {
            background-color: white;
        }
        20% {
            background-color: #e3cfff;
        }
        40% {
            background-color: #ffd5c7;
        }
        60% {
            background-color: #d6d3ff;
        }
        80% {
            background-color: #fdffe9;
        }
        100% {
            background-color: #fccbdc;
        }
    }

    @keyframes changeColor {
        0% {
            background-color: #ee7e23;
        }
        20% {
            background-color: $color-w-3;
        }
        40% {
            background-color: $color-w-8;
        }
        60% {
            background-color: $color-w-5;
        }
        80% {
            background-color: $color-w-10;
        }
        100% {
            background-color: $color-w-2;
        }
    }

    .marquee {
        position: relative;
        color: #333;

        &.stop {
            display: none;
            -moz-animation: none !important;
            -webkit-animation: none !important;
            animation: none !important;
        }
    }

    .marquee > .list {
        //-moz-transform: translateY(1000px);
        //-webkit-transform: translateY(1000px);
        //transform: translateY(1000px);
        margin: 0;
        line-height: 50px;
        //-moz-animation: scroll-down 80s linear infinite;
        //-webkit-animation: scroll-down 80s linear infinite;
        //animation: scroll-down 80s linear infinite;
        &.hide {
            visibility: hidden;
        }
        //&.move-up {
        //    -moz-transform: translateY(1000px);
        //    -webkit-transform: translateY(1000px);
        //    -moz-transform: translateY(1000px);
        //}
    }

    @-moz-keyframes scroll-down {
        0% {
            -moz-transform: translateY(1000px);
        }
        100% {
            -moz-transform: translateY(0%);
        }
    }

    @-webkit-keyframes scroll-down {
        0% {
            -webkit-transform: translateY(1000px);
        }
        100% {
            -webkit-transform: translateY(0%);
        }
    }

    @keyframes scroll-down {
        0% {
            -moz-transform: translateY(1000px);
            -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
        }
        100% {
            -moz-transform: translateY(0%);
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }

    }

    nav.navbar {
        display: none !important;
    }

    #display {
        height: 100vh;
        display: grid;
        grid-template-areas: "left . right";
        grid-template-columns: 40% 10% 50%;
        //animation: changeColorPastel 30s infinite alternate;
        //-moz-animation: changeColorPastel 30s infinite alternate;
        //-webkit-animation: changeColorPastel 30s infinite alternate;

        .left-side {
            grid-area: left;

            .logo-container {
                text-align: center;
                font-family: sans-serif;
                width: 450px;
                margin: 0 auto;
                position: relative;
                top: 100px;

                a {
                    color: $color-w-0;
                }
            }
        }

        .right-side {
            grid-area: right;
            font-size: 3em;

            .wanderverse-container {
                height: 600px;
                padding: 0.4em;
                position: relative;
            }

            .marquee {
                border: 2px solid $color-w-10;
                padding: 1em;
                height: 100%;
                overflow-y: scroll;
            }

            .verse-container {
                margin-bottom: 1em;
            }

            .text-citation {
                color: $color-w-0;
            }

            #end {
                margin-top: 3em;
                margin-bottom: 10em;
                background-color: green;

            }
        }
        .wanderverse {
            position: relative;
        }
    }
}
