@font-face {
    font-family: "calmiusregular";
    src: url("../fonts/nrey_-_calmius-regular-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiussemi_bold_italic";
    src: url("../fonts/nrey_-_calmius-semibolditalic-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-semibolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiusbold";
    src: url("../fonts/nrey_-_calmius-bold-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiusbold_italic";
    src: url("../fonts/nrey_-_calmius-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-bolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiusextra_bold";
    src: url("../fonts/nrey_-_calmius-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-extrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiusextra_bold_italic";
    src: url("../fonts/nrey_-_calmius-extrabolditalic-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-extrabolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiusextra_light";
    src: url("../fonts/nrey_-_calmius-extralight-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-extralight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiusextra_light_italic";
    src: url("../fonts/nrey_-_calmius-extralightitalic-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-extralightitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiusitalic";
    src: url("../fonts/nrey_-_calmius-italic-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiuslight";
    src: url("../fonts/nrey_-_calmius-light-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiuslight_italic";
    src: url("../fonts/nrey_-_calmius-lightitalic-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-lightitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiusmedium";
    src: url("../fonts/nrey_-_calmius-medium-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calmiusmedium_italic";
    src: url("../fonts/nrey_-_calmius-mediumitalic-webfont.woff2") format("woff2"),
    url("../fonts/nrey_-_calmius-mediumitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


$font-family-base: "Baskerville", serif;
$font-family-calmius: calmiusregular, "Baskerville", serif;
$font-family-calmius-extrabold: calmiusextra_bold, "Baskerville", serif;
$font-family-calmius-mediumitalic: calmiusmedium_italic, "Baskerville", serif;
$font-family-calmius-medium: calmiusmedium, "Baskerville", serif;


.font-calmius {
    font-family: $font-family-calmius;
}

.font-calmius-extrabold {
    font-family: $font-family-calmius-extrabold;
}

.font-calmius-mediumitalic {
    font-family: $font-family-calmius-mediumitalic;
}

.font-calmius-medium {
    font-family: $font-family-calmius-medium;
}
