#play {
    background-color: $color-w-form-light;

    #exquisite-verse {
        color: $color-w-0;
        letter-spacing: 0.02em;
        max-height: 6em;
        width: 100%;
        padding: 5px;
        border: 2px solid $color-w-0;
        animation: changePlayColor 30s infinite alternate;

        .box-inner {
            background-color: white;
            overflow-y: scroll;
            position: relative;
            border: 2px solid $color-w-0;
            padding: 10px;
            max-height: 5em;
        }
    }

    .page-title, a.page-title {
        color: $color-w-0;

        &:hover, &:active, &:focus {
            text-decoration: none;
        }

    }

    .navbar.navbar-light.bg-light {
        background-color: $color-w-2 !important;

        .nav-item > a, .lab-link {
            color: white;
        }
    }

    .w {
        .cls-1 {
            fill: $color-black !important;
        }
    }

    h2 {
        font-size: 1.4em;
    }

    .hr {
        border-bottom: 2px solid $color-black;
    }

    .required-text {
        margin-top: -10px;
    }

    .rules-list {
        min-width: 100%;
        overflow-y: scroll;
        margin-left: -7px;
    }

    .rules-list > li.rules-item {
        display: grid;
        grid-template-areas: "symbol . line";
        grid-template-columns: 10% 3% 87%;
        font-size: 1.4em;
        list-style: line inside;

        .symbol-icon {
            grid-area: symbol
        }

        .line {
            grid-area: line;
        }

        svg {
            left: -10px;
            position: relative;
        }
    }

    .btn-submit, .btn-dismiss.btn.btn-tertiary {
        background-color: white;
        border: 2px solid $color-w-0;
        color: $color-w-0;
        font-family: $font-family-calmius-extrabold;
        letter-spacing: 0.05em;
        font-size: 0.9em;
        text-transform: uppercase;

        &:hover, &:active, &:focus {
            background-color: $color-w-0;
            color: white;
        }
    }

    .icon-down-arrow {
        transition: all 300ms ease;
        margin-top: -5px;
    }

    .instructions-overlay {
        background-color: white;
        z-index: 9999;
        box-shadow: 0 8px 6px -6px $color-w-2;
        position: absolute;
        top: 0;
        width: 100%;
        height: 93%;
        transition: all 500ms ease;
        overflow-y: scroll;

        &.dismissed {
            position: fixed;
            overflow-y: hidden;

            .hr {
                display: none;
            }

            .btn-dismiss > svg {
                margin-top: -5px;
                fill: $color-w-0;
            }

            .icon-down-arrow {
                transform: rotate(-90deg);
            }
        }

        .btn-default {
            cursor: pointer;

            &:hover, &:active, &:focus {
                color: $color-w-0;
            }
        }
    }

    .btn-refresh {
        text-transform: uppercase;
        font-family: $font-family-calmius-medium;
        font-size: 0.7em;
        position: absolute;
        right: 0.6em;
        top: 1.2em;


        &:hover, &:active, &:focus {
            svg {
                transform: rotate(360deg);
                fill: $color-w-2;
            }
        }

        svg {
            transition: all 500ms ease;
            position: relative;
            right: 0.6em;
            margin-top: -10px;
        }
    }
    .helper-text {
        display: grid;
        grid-template-areas: "error required";
        padding: 0;
        .error {
            grid-area: error;
        }
        .required-text {
            grid-area: required;
        }
    }
    .w-form {
        margin-bottom: 2em;

        label {
            color: $color-black;
            background-color: $color-w-form;
            font-size: 1.35em;
            padding: 0 0.2em;

            &.text-small {
                font-size: 1em;
            }
        }

        .new-verse {
            border: 2px solid $color-w-0;
            padding: 5px;
            animation: changePlayColor 30s infinite alternate;
            height: 6em;
        }

        textarea {
            height: 5.1em;
            color: $color-w-0;
            border: 2px solid $color-w-0;

            &:focus, &:active {
                box-shadow: none;
                outline: none;
            }
        }

        input {
            border: 0;
            background-color: $color-w-form;
        }

        input.form-control {
            padding: 0.25em !important;
            padding-left: 0.5em !important;
            height: 100%;
            color: $color-w-0;

            &:focus, &:active {
                box-shadow: none;
                outline: none;
                background-color: white;
            }
        }

        .text-plain {
            background-color: transparent;
        }

        .form-group.row {
            margin: 0.75em 0.25em;
        }

        .btn {
            margin: 0 auto;
        }
    }

    @media only screen and (min-width: 768px) {
        main {
            height: 100vh;
            display: grid;
            grid-template-areas: "instructions form";
            grid-template-columns: 40% 60%;
            padding-bottom: 1em;

            .instructions-overlay {
                grid-area: instructions;
                position: relative;
                overflow-y: scroll;
                z-index: 0;
                box-shadow: 8px 0 6px -6px $color-w-2;

                .btn-dismiss {
                    display: none;
                }
            }

            .w-form {
                grid-area: form;
                padding-top: 10px !important;
                overflow-y: scroll;
            }
        }
    }

}
