#exquisite-verse {
    background-color: $color-black;
    color: white;
    padding: 0.8em;
    letter-spacing: 0.02em;
    max-height: 6em;
    overflow-y: scroll;
}

#play {
    .w {
        .cls-1 {
            fill: $color-black !important;
        }
    }

    h2 {
        font-size: 1.4em;
    }

    .hr {
        border-bottom: 2px solid $color-black;
    }

    .rules {
        border-bottom: 2px solid $color-black;
    }

    .rules-list {
        max-width: 96%;
        overflow-y: scroll;
        max-height: 300px;
    }

    .rules-list > li {
        font-size: 1.4em;
        list-style: line inside;

        svg {
            left: -10px;
            position: relative;
        }
    }

    .instructions-overlay {
        z-index: 9999;
        box-shadow: 0 4px 2px -2px gray;
        background-color: $color-w-4;
        position: absolute;
        top: 0;
        width: 100%;
        height: 93%;
        transition: all 500ms ease;
        overflow-y: scroll;

        &.dismissed {
            position: fixed;
            height: 220px;
            overflow-y: hidden;

            .hr {
                display: none;
            }

            .btn-dismiss > svg {
                margin-top: -5px;
                fill: $color-w-0;
            }
        }
    }

    .btn-refresh {
        text-transform: uppercase;
        font-family: $font-family-calmius-medium;
        font-size: 0.7em;
        position: absolute;
        right: 0.6em;

        svg {
            position: relative;
            right: 0.6em;
            margin-top: -10px;
        }

    }

    .btn-dismiss {
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        left: 0;

        &:focus, &:active, &:hover {
            outline: none !important;
            box-shadow: none;
        }

        &:hover {
            color: $color-w-0;
        }
    }

    .w-form {
        margin-bottom: 2em;
        margin-top: 225px;

        label {
            color: $color-black;
            background-color: $color-w-form;
            font-size: 1.35em;
            padding: 0;

            &.text-small {
                font-size: 1em;
            }
        }

        textarea {
            background-color: $color-w-form;
            min-height: 6em;
        }

        input {
            border: 0;
            background-color: $color-w-form;
        }

        input.form-control {
            padding: 0.25em !important;
            height: 100%;

            &:focus {
                box-shadow: none;
                outline: none;
                border-bottom: 0.1em solid $color-w-4;
            }

        }

        .text-plain {
            background-color: transparent;
        }

        .form-group.row {
            margin: 0.75em 0.25em;
        }

        .btn {
            margin: 0 auto;
        }


        .btn-submit {
            background-color: $color-w-5;
            border: 2px solid $color-w-2;
            color: $color-w-2;
            font-family: $font-family-calmius-extrabold;
            letter-spacing: 0.05em;
            font-size: 0.9em;

            &:hover, &:active, &:focus {
                background-color: $color-w-3;
                color: $color-w-6;
            }
        }
    }

}
