#exquisite-verse {
    background-color: $color-black;
    color: white;
    padding: 0.8em;
    letter-spacing: 0.02em;
    max-height: 6em;
    overflow-y: scroll;
}

#play {
    .w {
        .cls-1 {
            fill: $color-black !important;
        }
    }

    h2 {
        font-size: 1.4em;
    }

    .hr {
        border-bottom: 2px solid $color-black;
    }

    .rules {
        border-bottom: 2px solid $color-black;
    }

    .rules-list {
        max-height: 226px;
        overflow-y: scroll;
    }

    .rules-list > li {
        font-size: 1.4em;
        list-style: line inside;
    }

    .instructions-overlay {
        z-index: 9999;
        box-shadow: 0 4px 2px -2px gray;
        border-bottom: 2px solid $color-w-0;
        background-color: $color-bluer;
        position: absolute;
        top: 0;
        width: 100%;
        height: 92%;
        transition: all 500ms ease;
        overflow-y: scroll;

        &.dismissed {
            position: fixed;
        }
    }

    .btn-dismiss {
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .w-form {
        margin-bottom: 2em;

        label {
            color: $color-w-0;
            font-size: 1.35em;
            padding: 0;

            &.text-small {
                font-size: 1em;
            }
        }

        textarea {
            border: 0.1em solid $color-w-0;
            min-height: 6em;
        }

        input {
            border: 0;
            border-bottom: 0.1em solid $color-w-0;
        }

        input.form-control {
            padding: 0;
            height: 100%;

            &:focus {
                box-shadow: none;
                outline: none;
                border-bottom: 0.1em solid $color-w-4;
            }

        }

        .form-group.row {
            margin: 0.75em 0.25em;
        }

        .btn {
            margin: 0 auto;
        }

        .btn-submit {
            background-color: $color-w-5;
            border: 0.1em solid $color-w-2;
            color: $color-w-2;
            font-family: $font-family-calmius-extrabold;
            letter-spacing: 0.05em;
            font-size: 0.9em;

            &:hover, &:active, &:focus {
                background-color: $color-w-3;
                color: $color-w-6;
            }
        }
    }

}
