#read {
    display: grid;
    background-color: $color-w-6;

    .top-info-container, .read-container {
        margin: 0 auto;
        width: 95%;
        max-height: calc(100vh - 300px);

        @media only screen and (min-width: 768px) {
            width: 400px;
        }
    }

    .top-info-container > a {
        font-size: 0.5em;
        position: relative;
        font-family: $font-family-klima-medium;
        color: $color-w-0;
        text-decoration: underline;
        cursor: pointer;
        margin-top: -2.2em;
        margin-right: -10px;
        padding-bottom: 1em;
        .icon-refresh {
            width: 30px;
        }

    }

    .read-container {
        border: 2px solid $color-w-0;
        padding: 0.4em;
        animation: changePlayColor 30s infinite alternate;
        max-height: 50vh;
        display: flex;

        .inner-container {
            border: 2px solid $color-w-0;
            padding: 0.2em;
            background-color: white;
            max-height: 100% !important;
            overflow-y: auto;
        }
    }

    .page-title {
        color: $color-w-3;
    }

    .navbar.bg-light {
        background-color: $color-w-11 !important;
    }

    .wanderverse-container {
        max-height: 100%;
        overflow-y: scroll;

        .verse-container {
            width: 100%;
            display: grid;
            grid-template-areas: ". verse .";
            grid-template-columns: 7% 88% 5%;
        }

        .verse {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            font-size: 1.3em;
            line-height: 1.4em;
            grid-area: verse;
        }

    }

    .btn-refresh {
        &:focus, &:active, &:hover {
            svg {
                fill: $color-w-0;
            }
        }
    }

    .list {

    }

    .btn.btn-secondary {
        background-color: #FFE3F6;
        border: 1.5px solid #6D5BFB;
        color: #6D5BFB;
        font-family: calmiusextra_bold, "Baskerville", serif;
        letter-spacing: 0.05em;
        font-size: 0.9em;
        text-transform: uppercase;
        width: 120px;
    }

    .symbols-bottom {
        margin-bottom: 1.5rem !important;
        position: absolute;
        bottom: 4em;
    }

    .text-citation {
        color: $color-w-7;
    }
}
