#read {
    .page-title {
        color: $color-w-3;
    }

    .wanderverse-container {
        min-height: 50%;
        overflow-y: scroll;

        .verse {
            font-size: 1.3em;
        }
    }

    .btn-refresh {
        &:focus, &:active, &:hover {
            svg {
                fill: $color-w-0;
            }
        }
    }

    .list {

    }

    .btn.btn-secondary {
        background-color: #FFE3F6;
        border: 1.5px solid #6D5BFB;
        color: #6D5BFB;
        font-family: calmiusextra_bold, "Baskerville", serif;
        letter-spacing: 0.05em;
        font-size: 0.9em;
        text-transform: uppercase;
        width: 120px;
    }

    .symbols-bottom {
        margin-bottom: 1.5rem !important;
        position: absolute;
        bottom: 4em;
    }
}
