$color-w-0: #0C00FF;
$color-w-1: #3D2DFD;
$color-w-2: #6D5BFB;
$color-w-3: #9E88FA;
$color-w-4: #CEB6F8;
$color-w-5: #FFE3F6;
$color-w-6: #FDE9F1;

$color-w-form: #E0D7F4;
$color-w-form-light: #f7f3ff;

$color-bluer: #B7C1F7;

$color-black: #1d1e28;

$color-w-7: #EE3F23;
$color-w-8: #F15B29;
$color-w-9: #F4782F;
$color-w-10: #F89435;
$color-w-11: #FBB03B;
